{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container">
        <div class="row text-center">
            <div class="col-6 ml-10">
                <img style="width:100%;height:100%" src="{{asset('images/' ~ item.image)}}">
            </div>
            <div class="col-3">
                <p style="margin-top: 50%;"="mt-20">
                    <h3> Description</h3>
                    {{item.description}}
                </p>
            </div>
<<<<<<< HEAD
            {% include 'items/panier.html.twig'%}
=======
            <div style="margin-top:40px" class="col-3">
                <p>
                    <button id="ajout" style="margin-top: 50%;" 
                    class="btn btn-warning" data-ajout = "{{item.id}}">
                        Ajouter au panier 
                    </button>
                </p>
                <div id="divnb">
                    {# <span style="position:absolute;" class="fa fa-shpping-cart"></div> #}
                    <a href="">
                        <span id="voir" class="badge badge-warning" data-voir="voir">Voir le panier</span>
                    </a>
                    <div id="voirpanier"></div>
                </div>
            </div>
>>>>>>> 9bfb396 (reprise30042023)
        </div>
        <h4 style="margin-bottom:10vh;text-decoration:underline;">Liste des commandes de ce produit</h4>
        {% if commandes is empty %}
            <p> Il n'existe pas de commandes de ce produit </p>
            {% else %}
            {% for cm in commandes %}
                {% set i = 0 %}
                {% if notes | length > 0 %}
                    {% set nt = notes[i] %}
                {% endif %}
                
                <div class="row">
                    <div class="col-4">
                        <img style="width:50%;height:50%" src="{{asset('images/' ~ item.image)}}">
                    </div>
                    <div class="col-4">
                        <p>Date commande: {{cm.order_date|date('Y-m-d')}}</p>
                        <p>Quantité: {{cm.quantite }}</p>
                        <p>Note: 
                            {% if nt is defined %}
                                {% for j in 1..nt %}
                                    <span style="color:orange;" class="fa fa-star"></span>
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% set i = i+1 %}
                <hr>
                {#{{dump(cm)}}#}
            {% endfor %}
        {% endif %}
        
    </div>
    <div id="test">

    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function()
<<<<<<< HEAD
        {
            if(sessionStorage.getItem('panier'))
            {
                $("#lib").css('display','block')
            }
            /*
            if (sessionStorage.getItem('panier'))
            {
                $('divnb').append("<span>Nombre d\'articles:</span><span id='nb'> </span>\
                <span style='position:absolute;left:80%' class='fa fa-shopping-cart'></div>\
                <a href=''><span class='badge badge-warning'>voir le panier</span></a>");
            }*/
            if(sessionStorage.getItem('panier')){
                var panier = sessionStorage.getItem('panier').split(',');
                panier.filter((v,i,s)=>s.indexOf(v)===i);
                $('#nb').text(panier.length);
            } 
            $('#voir').on("click",function(){
                event.preventDefault();
                var ids = sessionStorage.getItem("panier");
                /*
                var id_item = ids.split();
                id_item.filter((v,i,s)=>{s.indexOf(v)==i});
                var id_item = JSON.stringify(id_item);
                //console.log(id_item);
                //console.log(id_item);
                /*id_item.forEach(e=>{
                    ido['id'+e] = e;
                });*/
                //console.log(this.data('voir'));
                $.ajax({
                    url: "/panier/voir",
                    type: "POST",
                    data: {'id':ids},
                    success: function (data) {
                        $('#voirpanier').html('');
                        var html="<table><thead>\
                            <tr><th>Liste de produits à commander</th></tr>\
                            <tr><th class='ml:10'>Name</th><th class='text-center'>Description</th>\
                                <th style='margin-left:15px;'>Action</th></thead>";
                            html+="<tbody>";
                        //var output= data.substr(1,data.length-2);
                        var output = JSON.parse(data);
                        //console.log(output);
                        //console.log(Array.from(data)[0]);
                        //$('#voirpanier').html(data);
                        for(var i=0;i<output.length;i++)
                        {
                            html+="<tr class='suppr'><td>"+output[i].name+"</td>";
                            html+="<td>"+output[i].description+"</td>";
                            html+="<td>\
                                <a style='margin-left:15px;' class='fa fa-trash'></a>\
                                </td></tr>";
                        } 
                        html+="</tbody></table>";
                        //console.log(html);
                        $('#voirpanier').append(html);

                        $('#voirpanier').dialog({
                            modal:true,
                            width:600,
                            height:300,
                            buttons: {
                            'Commander': function () {
                                alert('Votre commande est passée');
                                jQuery(this).dialog("close");
                            }}
                        });
                        $(".suppr").on('click',function(){
                            console.log($(this).parent());
                            $(this).remove();
                        });
                    }
                });
            }); // fin ajax
            $("#ajout").on("click",function(){
                //console.log($('#ajout').data('ajout'));
                var id = $('#ajout').data('ajout');
                if(sessionStorage.getItem("panier")==null)
                {
                    sessionStorage.setItem("panier",id);
                    return;
                }
                var panier = sessionStorage.getItem("panier").split(',');
                
                if(panier.indexOf(id.toString())==-1)
                {
                    sessionStorage.removeItem("panier");
                    panier.push(id);
                    panier.filter((v,i,s)=>s.indexOf(v)===i);
                    sessionStorage.setItem("panier",panier);
                }
                //console.log(sessionStorage.getItem("panier",panier));
                var nb = panier.length;
                //console.log(document.getElementById('nb'));
                document.getElementById('nb').textContent = nb; 
                $("#lib").css('display','block');

            });
        }); // fin ready function
=======
        { 
        }
    );
>>>>>>> 9bfb396 (reprise30042023)

</script>

{% endblock %}
